<h1>Editing document</h1>

<%= form_for [@user, @document], :url => user_document_path do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>
<% end %>

<%= link_to 'Back', user_documents_path(@user) %>
